.labelStyle{
	text-align:right;
	margin:5px;
	align:center;
}
.invalid{
	color:red;
	text-align:left;
}
body {
	text-align: center;
	align:center;	
}

.regTitle{
	margin:15px;
	font-size:20px;
	color:red;
}

.updateRegInfoLabel{
	text-align:left;
	margin:5px;
	align:left;
}