<!--
a{
text-decoration:none
}
#link a{
color:#ffffff;font-size:12px
}
#link1 a{
font-size:12pt;text-decorationf:none;
font-weight:bold;color:#21536A;
}
td
font-size:12px;
}
#font1{
font-weight:bold;font-size:16px;color:#21536A;
margin:10px;
}
#top{
postiont:absolute;font-size:46px;top:78px;left:246px;
wedth:240px;font-weihght:bold;
}
#reg{
color:#33ff00;
}
-->